body {
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333; /* 다크 테마 배경 */
    color: #fff;
}

.header {
    background-color: #333;
    padding: 20px;
    text-align: left;
}

.header a.logo {
    font-size: 30px;
    color: #ffcc00; /* KUCIS 로고 색상 */
    font-weight: bold;
    text-decoration: none;
}

.separator {
    border-top: 2px solid #ffcc00; /* 구분선 색상을 노란색으로 */
    margin-bottom: 20px;
}

.container {
    width: 80%;
    max-width: 1000px;
    margin: 50px auto;
    background-color: #444; /* 다크 테마 컨테이너 배경 */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #ffcc00; /* 제목 색상을 노란색으로 변경 */
    font-size: 24px;
}

.post-item {
    background-color: #555;
    border: 1px solid #555;
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #fff;
}

.post-title a {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #ffcc00; /* 제목을 노란색으로 */
    text-decoration: none;
}

.post-title a:hover {
    text-decoration: underline;
}

.post-content {
    font-size: 14px;
    color: #ddd;
    margin-bottom: 10px;
}

.post-meta {
    font-size: 12px;
    color: #999;
}

.form-actions {
    text-align: right;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #ffcc00; /* 버튼 배경색을 노란색으로 변경 */
    color: #333;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button:hover {
    background-color: #ffdb4d;
}

.no-posts {
    text-align: center;
    color: #999;
}
