<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>커뮤니티 웹페이지</title>
    <link rel="stylesheet" href="/css/home/main.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="header">
      <div class="KU">
        <p><a href="/login">NGDB</a></p>
      </div>
      <h1>비속어 탐지 테스트웹</h1>
      <nav>
        <ul>
          <li><a href="/message">쪽지</a></li>
          <li><a href="/community">게시판</a></li>
        </ul>
      </nav>
      <div class="logout">
        <p><a href="/delete">로그아웃</a></p>
      </div>
    </div>

    <!-- 노란색 구분선 -->
    <div class="yellow-divider"></div>

    <div class="content">

      <!-- 비속어가 포함된 게시글 및 메시지 목록 표시 -->
      <div class="profane-lists">
        <div class="profane-counts">
          <h2 class="profane-title">비속어 탐지 현황</h2>
          <ul class="profane-list">
            <li>비속어가 포함된 게시물 수: <strong><%= profanePostCount %></strong> <a href="/profane_posts" class="profane-link">게시글 목록 보기</a></li>
            <li>비속어가 포함된 댓글 수: <strong><%= profaneCommentCount %></strong> <a href="/profane_comments" class="profane-link">댓글 목록 보기</a></li>
            <li>비속어가 포함된 메시지 수: <strong><%= profaneMessageCount %></strong> <a href="/profane_messages" class="profane-link">메시지 목록 보기</a></li>

          </ul>
        </div>
      </div>

      
    </div>
  </body>
</html>
