<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <title>비속어가 포함된 메시지 목록</title>
  <link rel="stylesheet" href="/css/home/main.css" />
</head>
<body>
  <div class="content">
    <h2 class="page-title">비속어가 포함된 메시지 목록</h2>
    <ul class="profane-item-list">
      <% profaneMessages.forEach(message => { %>
        <li class="profane-item">
          <strong>보낸 사람:</strong> <span class="item-content"><%= message.sender %></span><br>
          <strong>내용:</strong> <span class="item-content"><%= message.content %></span>
        </li>
      <% }); %>
    </ul>
  </div>
</body>
</html>
